#!/bin/bash
set -eu -o pipefail

zip -r {{ destination_dir }}/{{ zip_name }} {{ zip_source }}
scp -o StrictHostKeyChecking=no {{ destination_dir }}/{{ zip_name }} {{ backup_user }}@{{ backup_host }}:{{ destination_dir }}/
